tutorials/hdp/hdp-2.6/Analyze-IoT-Weather-Station-Data-via-Connected-Data Architecture/assets/WeatherDataMiNiFiToHbase.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description></description>
  <groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId>
  <name>WeatherDataMiNiFiToHbase</name>
  <snippet>
    <connections>
      <id>fd9b605b-015a-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>fd95b86f-015a-1000-0000-000000000000</groupId>
        <id>fd9809a8-015a-1000-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>479b7c3d-0159-1000-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>fd9bf8ea-015a-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>48643198-532b-10a4-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>fd95b86f-015a-1000-0000-000000000000</groupId>
        <id>fd9ab955-015a-1000-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>fd9c198c-015a-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>bb445d4f-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>fd95b86f-015a-1000-0000-000000000000</groupId>
        <id>fd9ab955-015a-1000-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>028219f0-015b-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Hadoop Configuration Files</key>
          <value>
            <name>Hadoop Configuration Files</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
          <value>
            <name>Kerberos Principal</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
          <value>
            <name>Kerberos Keytab</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper Quorum</key>
          <value>
            <name>ZooKeeper Quorum</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper Client Port</key>
          <value>
            <name>ZooKeeper Client Port</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper ZNode Parent</key>
          <value>
            <name>ZooKeeper ZNode Parent</name>
          </value>
        </entry>
        <entry>
          <key>HBase Client Retries</key>
          <value>
            <name>HBase Client Retries</name>
          </value>
        </entry>
        <entry>
          <key>Phoenix Client JAR Location</key>
          <value>
            <name>Phoenix Client JAR Location</name>
          </value>
        </entry>
      </descriptors>
      <name>HBase_1_1_2_ClientService</name>
      <properties>
        <entry>
          <key>Hadoop Configuration Files</key>
          <value>/etc/hbase/hbase-site.xml</value>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
        </entry>
        <entry>
          <key>ZooKeeper Quorum</key>
        </entry>
        <entry>
          <key>ZooKeeper Client Port</key>
        </entry>
        <entry>
          <key>ZooKeeper ZNode Parent</key>
        </entry>
        <entry>
          <key>HBase Client Retries</key>
          <value>15</value>
        </entry>
        <entry>
          <key>Phoenix Client JAR Location</key>
        </entry>
      </properties>
      <state>ENABLING</state>
      <type>org.apache.nifi.hbase.HBase_1_1_2_ClientService</type>
    </controllerServices>
    <inputPorts>
      <id>479b7c3d-0159-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>230.5973317902758</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>IngestSensorReadings</name>
      <state>STOPPED</state>
      <transmitting>false</transmitting>
      <type>INPUT_PORT</type>
    </inputPorts>
    <processGroups>
      <id>fd95b86f-015a-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>490.80399004721176</x>
        <y>197.2962190511173</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>ada43d43-5d64-15d2-0000-000000000000</id>
          <parentGroupId>fd95b86f-015a-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>fd95b86f-015a-1000-0000-000000000000</groupId>
            <id>f0b93a3c-fc98-1f8b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>found</selectedRelationships>
          <source>
            <groupId>fd95b86f-015a-1000-0000-000000000000</groupId>
            <id>faa031fc-92ce-1ca1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f0ec3df7-cf16-1b13-0000-000000000000</id>
          <parentGroupId>fd95b86f-015a-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>fd95b86f-015a-1000-0000-000000000000</groupId>
            <id>93f13276-addc-1aed-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>fd95b86f-015a-1000-0000-000000000000</groupId>
            <id>c7b93332-c9cf-1d70-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>fd986109-015a-1000-0000-000000000000</id>
          <parentGroupId>fd95b86f-015a-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>fd95b86f-015a-1000-0000-000000000000</groupId>
            <id>bf403c90-96d3-1cd6-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>fd95b86f-015a-1000-0000-000000000000</groupId>
            <id>fd9809a8-015a-1000-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>fd9addd4-015a-1000-0000-000000000000</id>
          <parentGroupId>fd95b86f-015a-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>fd95b86f-015a-1000-0000-000000000000</groupId>
            <id>fd9ab955-015a-1000-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>fd95b86f-015a-1000-0000-000000000000</groupId>
            <id>93f13276-addc-1aed-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>1e9737aa-cc7b-1049-0000-000000000000</id>
          <parentGroupId>fd95b86f-015a-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>fd95b86f-015a-1000-0000-000000000000</groupId>
            <id>c7b93332-c9cf-1d70-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>fd95b86f-015a-1000-0000-000000000000</groupId>
            <id>f0b93a3c-fc98-1f8b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>37ba35c5-3ba0-1fa7-0000-000000000000</id>
          <parentGroupId>fd95b86f-015a-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>fd95b86f-015a-1000-0000-000000000000</groupId>
            <id>faa031fc-92ce-1ca1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>fd95b86f-015a-1000-0000-000000000000</groupId>
            <id>bf403c90-96d3-1cd6-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <inputPorts>
          <id>fd9809a8-015a-1000-0000-000000000000</id>
          <parentGroupId>fd95b86f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>290.99999596918815</x>
            <y>108.99999627333517</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>ingestRawData</name>
          <state>STOPPED</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <outputPorts>
          <id>fd9ab955-015a-1000-0000-000000000000</id>
          <parentGroupId>fd95b86f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>1485.9999959691881</x>
            <y>774.9999962733352</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>sendProcessedData</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
          <id>93f13276-addc-1aed-0000-000000000000</id>
          <parentGroupId>fd95b86f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>1123.5482320531728</x>
            <y>575.2576104090774</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>filename</key>
                <value>
                  <name>filename</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>filename</key>
                <value>weatherdata-${now():format("yyyy-MM-dd-HHmmssSSS")}-${UUID()}.json</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>3 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>bf403c90-96d3-1cd6-0000-000000000000</id>
          <parentGroupId>fd95b86f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>529.609908078563</x>
            <y>212.99999627333517</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Capture Group Length</key>
                <value>
                  <name>Maximum Capture Group Length</name>
                </value>
              </entry>
              <entry>
                <key>Enable Canonical Equivalence</key>
                <value>
                  <name>Enable Canonical Equivalence</name>
                </value>
              </entry>
              <entry>
                <key>Enable Case-insensitive Matching</key>
                <value>
                  <name>Enable Case-insensitive Matching</name>
                </value>
              </entry>
              <entry>
                <key>Permit Whitespace and Comments in Pattern</key>
                <value>
                  <name>Permit Whitespace and Comments in Pattern</name>
                </value>
              </entry>
              <entry>
                <key>Enable DOTALL Mode</key>
                <value>
                  <name>Enable DOTALL Mode</name>
                </value>
              </entry>
              <entry>
                <key>Enable Literal Parsing of the Pattern</key>
                <value>
                  <name>Enable Literal Parsing of the Pattern</name>
                </value>
              </entry>
              <entry>
                <key>Enable Multiline Mode</key>
                <value>
                  <name>Enable Multiline Mode</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unicode-aware Case Folding</key>
                <value>
                  <name>Enable Unicode-aware Case Folding</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unicode Predefined Character Classes</key>
                <value>
                  <name>Enable Unicode Predefined Character Classes</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unix Lines Mode</key>
                <value>
                  <name>Enable Unix Lines Mode</name>
                </value>
              </entry>
              <entry>
                <key>Include Capture Group 0</key>
                <value>
                  <name>Include Capture Group 0</name>
                </value>
              </entry>
              <entry>
                <key>extract-text-enable-repeating-capture-group</key>
                <value>
                  <name>extract-text-enable-repeating-capture-group</name>
                </value>
              </entry>
              <entry>
                <key>Altitude_m</key>
                <value>
                  <name>Altitude_m</name>
                </value>
              </entry>
              <entry>
                <key>Pressure_Pa</key>
                <value>
                  <name>Pressure_Pa</name>
                </value>
              </entry>
              <entry>
                <key>Public_IP</key>
                <value>
                  <name>Public_IP</name>
                </value>
              </entry>
              <entry>
                <key>Sealevel_Pressure_Pa</key>
                <value>
                  <name>Sealevel_Pressure_Pa</name>
                </value>
              </entry>
              <entry>
                <key>Sensor_ID</key>
                <value>
                  <name>Sensor_ID</name>
                </value>
              </entry>
              <entry>
                <key>Temp_C</key>
                <value>
                  <name>Temp_C</name>
                </value>
              </entry>
              <entry>
                <key>Time</key>
                <value>
                  <name>Time</name>
                </value>
              </entry>
              <entry>
                <key>Timestamp</key>
                <value>
                  <name>Timestamp</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Maximum Capture Group Length</key>
                <value>1024</value>
              </entry>
              <entry>
                <key>Enable Canonical Equivalence</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Case-insensitive Matching</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Permit Whitespace and Comments in Pattern</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable DOTALL Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Literal Parsing of the Pattern</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Multiline Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unicode-aware Case Folding</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unicode Predefined Character Classes</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unix Lines Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Include Capture Group 0</key>
                <value>true</value>
              </entry>
              <entry>
                <key>extract-text-enable-repeating-capture-group</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Altitude_m</key>
                <value>(?&lt;=Altitude = )([\w+.-]+)</value>
              </entry>
              <entry>
                <key>Pressure_Pa</key>
                <value>(?&lt;=Pressure = )([\w+.-]+)</value>
              </entry>
              <entry>
                <key>Public_IP</key>
                <value>(?&lt;=Public_IP: )([\w+.-]+)</value>
              </entry>
              <entry>
                <key>Sealevel_Pressure_Pa</key>
                <value>(?&lt;=Sealevel_Pressure = )([\w+.-]+)</value>
              </entry>
              <entry>
                <key>Sensor_ID</key>
                <value>(?&lt;=Sensor_ID = )([\w+.-]+)</value>
              </entry>
              <entry>
                <key>Temp_C</key>
                <value>(?&lt;=Temp = )([\w+.-]+)</value>
              </entry>
              <entry>
                <key>Time</key>
                <value>(?&lt;=")([^\"]+)</value>
              </entry>
              <entry>
                <key>Timestamp</key>
                <value>(?&lt;=")([^\"]+)</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ExtractText</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
        <processors>
          <id>c7b93332-c9cf-1d70-0000-000000000000</id>
          <parentGroupId>fd95b86f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>533.9999959691881</x>
            <y>393.93937920790546</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Attributes List</key>
                <value>
                  <name>Attributes List</name>
                </value>
              </entry>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Include Core Attributes</key>
                <value>
                  <name>Include Core Attributes</name>
                </value>
              </entry>
              <entry>
                <key>Null Value</key>
                <value>
                  <name>Null Value</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Attributes List</key>
                <value>Time, Timestamp, Public_IP.geo.city, Public_IP.geo.subdivision.isocode.0, Sensor_ID, Temp_C, Pressure_Pa, Sealevel_Pressure_Pa, Altitude_m</value>
              </entry>
              <entry>
                <key>Destination</key>
                <value>flowfile-content</value>
              </entry>
              <entry>
                <key>Include Core Attributes</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Null Value</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>AttributesToJSON</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
        </processors>
        <processors>
          <id>f0b93a3c-fc98-1f8b-0000-000000000000</id>
          <parentGroupId>fd95b86f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>1125.872969602001</x>
            <y>412.46780328017104</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Routing Strategy</key>
                <value>
                  <name>Routing Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Check_Altitude</key>
                <value>
                  <name>Check_Altitude</name>
                </value>
              </entry>
              <entry>
                <key>Check_City</key>
                <value>
                  <name>Check_City</name>
                </value>
              </entry>
              <entry>
                <key>Check_IP</key>
                <value>
                  <name>Check_IP</name>
                </value>
              </entry>
              <entry>
                <key>Check_Pressure</key>
                <value>
                  <name>Check_Pressure</name>
                </value>
              </entry>
              <entry>
                <key>Check_Sealevel_Pressure</key>
                <value>
                  <name>Check_Sealevel_Pressure</name>
                </value>
              </entry>
              <entry>
                <key>Check_Sensor_ID</key>
                <value>
                  <name>Check_Sensor_ID</name>
                </value>
              </entry>
              <entry>
                <key>Check_State</key>
                <value>
                  <name>Check_State</name>
                </value>
              </entry>
              <entry>
                <key>Check_Temp</key>
                <value>
                  <name>Check_Temp</name>
                </value>
              </entry>
              <entry>
                <key>Check_Time</key>
                <value>
                  <name>Check_Time</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Routing Strategy</key>
                <value>Route to 'match' if all match</value>
              </entry>
              <entry>
                <key>Check_Altitude</key>
                <value>${Altitude_m:lt(6267)}</value>
              </entry>
              <entry>
                <key>Check_City</key>
                <value>${Public_IP.geo.city:isEmpty():not()}</value>
              </entry>
              <entry>
                <key>Check_IP</key>
                <value>${Public_IP:isEmpty():not()}</value>
              </entry>
              <entry>
                <key>Check_Pressure</key>
                <value>${Pressure_Pa:lt(108000):and(
	${Pressure_Pa:gt(87000)}
)}</value>
              </entry>
              <entry>
                <key>Check_Sealevel_Pressure</key>
                <value>${Sealevel_Pressure_Pa:lt(108000):and(
	${Sealevel_Pressure_Pa:gt(87000)}
)}</value>
              </entry>
              <entry>
                <key>Check_Sensor_ID</key>
                <value>${Sensor_ID:lt(100):and(
	${Sensor_ID:gt(0)}
)}</value>
              </entry>
              <entry>
                <key>Check_State</key>
                <value>${Public_IP.geo.subdivision.isocode.0:isEmpty():not()}</value>
              </entry>
              <entry>
                <key>Check_Temp</key>
                <value>${Temp_C:lt(88)}</value>
              </entry>
              <entry>
                <key>Check_Time</key>
                <value>${Time:isEmpty():not():and(
	${Timestamp:isEmpty():not()}
)}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>RouteOnAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
          <id>faa031fc-92ce-1ca1-0000-000000000000</id>
          <parentGroupId>fd95b86f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>1123.683376174286</x>
            <y>212.27221807892926</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Geo Database File</key>
                <value>
                  <name>Geo Database File</name>
                </value>
              </entry>
              <entry>
                <key>IP Address Attribute</key>
                <value>
                  <name>IP Address Attribute</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Geo Database File</key>
                <value>/tmp/nifi/GeoFile/GeoLite2-City.mmdb</value>
              </entry>
              <entry>
                <key>IP Address Attribute</key>
                <value>Public_IP</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GeoEnrichIP</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>found</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>not found</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.GeoEnrichIP</type>
        </processors>
      </contents>
      <name>PreProcessDataForHBaseAndHadoop</name>
    </processGroups>
    <processors>
      <id>bb445d4f-015a-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>1103.3905224609375</x>
        <y>324.8113364327837</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
            <value>
              <name>Additional Classpath Resources</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/hdfs/core-site.xml</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>/tmp/weather</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>fail</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
    <processors>
      <id>48643198-532b-10a4-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>1096.0890991879382</x>
        <y>0.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HBase Client Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
              <name>HBase Client Service</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier</key>
            <value>
              <name>Row Identifier</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Field Name</key>
            <value>
              <name>Row Identifier Field Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>
              <name>Row Identifier Encoding Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>
              <name>Column Family</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Complex Field Strategy</key>
            <value>
              <name>Complex Field Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Field Encoding Strategy</key>
            <value>
              <name>Field Encoding Strategy</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HBase Client Service</key>
            <value>028219f0-015b-1000-0000-000000000000</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>sensor_readings</value>
          </entry>
          <entry>
            <key>Row Identifier</key>
          </entry>
          <entry>
            <key>Row Identifier Field Name</key>
            <value>Timestamp</value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>String</value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>weather</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>25</value>
          </entry>
          <entry>
            <key>Complex Field Strategy</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Field Encoding Strategy</key>
            <value>String</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHBaseJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.hbase.PutHBaseJSON</type>
    </processors>
  </snippet>
  <timestamp>04/29/2017 14:43:47 UTC</timestamp>
</template>