tutorials/hdp/refine-and-visualize-server-log-data/assets/ServerLogGeneratorSecurity.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>A flow which generates server logs with format:
{Data | IP | Country | Success }
For use in conjunction with Hortonworks Tutorial
“Refine and Visualize Server Log Data”</description>
  <groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId>
  <name>ServerLogGeneratorSecurity</name>
  <snippet>
    <connections>
      <id>aa056d79-c573-49f1-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>1186.9801025390625</x>
        <y>757.8000170898438</y>
      </bends>
      <bends>
        <x>1186.9801025390625</x>
        <y>824.8000170898438</y>
      </bends>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>f799e00f-6cc2-4cb5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>f799e00f-6cc2-4cb5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>b46ebb8e-76ba-497c-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>1947.0330761633381</x>
        <y>51.5353817593126</y>
      </bends>
      <bends>
        <x>1947.0330761633381</x>
        <y>118.5353817593126</y>
      </bends>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>c49860c3-7309-410f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>c49860c3-7309-410f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>b8e4921c-d27b-4e3c-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>fc7da0e1-a3bc-4c55-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
        <id>f831f740-526c-47b0-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>c04797c5-16c0-42f6-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>277.30378784532786</x>
        <y>425.3660266820891</y>
      </bends>
      <destination>
        <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
        <id>b28358f7-ee2d-4e80-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
        <id>f87d0d65-67f2-4c14-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>c6ef1221-1583-4a55-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>1191.0582226477122</x>
        <y>43.6294052731065</y>
      </bends>
      <bends>
        <x>1191.0582226477122</x>
        <y>110.6294052731065</y>
      </bends>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>7853122b-105e-47d8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>7853122b-105e-47d8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>d9613df9-2d7a-4849-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>1553.261962890625</x>
        <y>427.528564453125</y>
      </bends>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>c49860c3-7309-410f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
        <id>519a97af-2f85-4666-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>ff2d37ab-2a1b-4f6b-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>f799e00f-6cc2-4cb5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
        <id>4db9e0cd-5068-4def-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>3072857a-d735-467e-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>7853122b-105e-47d8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
        <id>5faab260-a5a4-4e0f-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>34a469a5-de13-4b12-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>1951.980102539063</x>
        <y>756.4600170898439</y>
      </bends>
      <bends>
        <x>1951.980102539063</x>
        <y>823.4600170898439</y>
      </bends>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>fc7da0e1-a3bc-4c55-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>fc7da0e1-a3bc-4c55-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <processGroups>
      <id>c751aa82-1598-4bd5-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>538.0633075658557</x>
        <y>336.76108979394326</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>df5f98ba-4704-4557-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>f831f740-526c-47b0-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>INFO</selectedRelationships>
          <source>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>cf75e629-99ae-4444-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0ad12d02-8e0b-41c3-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>5faab260-a5a4-4e0f-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>ERROR</selectedRelationships>
          <source>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>3b7b75ec-0409-4783-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>10a8ca57-94f7-48af-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>519a97af-2f85-4666-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>ERROR</selectedRelationships>
          <source>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>3b7b75ec-0409-4783-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>17bca6ec-96e1-429f-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <bends>
            <x>253.5</x>
            <y>482.40000000000003</y>
          </bends>
          <destination>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>cf75e629-99ae-4444-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>b28358f7-ee2d-4e80-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>17f0eb92-d16c-4ecf-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>519a97af-2f85-4666-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>INFO</selectedRelationships>
          <source>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>cf75e629-99ae-4444-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>26f99665-cd33-4515-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <bends>
            <x>252.0</x>
            <y>152.76002044677736</y>
          </bends>
          <destination>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>a7dad886-bbed-409e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>b28358f7-ee2d-4e80-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>2e5fe5ef-5d00-4444-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>519a97af-2f85-4666-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>WARN</selectedRelationships>
          <source>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>a7dad886-bbed-409e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>3d89da0f-376c-4769-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>4db9e0cd-5068-4def-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>WARN</selectedRelationships>
          <source>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>a7dad886-bbed-409e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>498f7667-6e25-4e50-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>3b7b75ec-0409-4783-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>c751aa82-1598-4bd5-0000-000000000000</groupId>
            <id>b28358f7-ee2d-4e80-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <inputPorts>
          <id>b28358f7-ee2d-4e80-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <position>
            <x>-66.00000262906987</x>
            <y>290.7800132957627</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Log Data</name>
          <state>STOPPED</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <outputPorts>
          <id>f831f740-526c-47b0-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <position>
            <x>602.597583186851</x>
            <y>681.7449163775904</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>INFO Logs</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
          <id>4db9e0cd-5068-4def-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <position>
            <x>596.4247709028081</x>
            <y>-71.88541055891827</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Warn Logs</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
          <id>519a97af-2f85-4666-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <position>
            <x>1673.7095920974928</x>
            <y>434.6867018333604</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Aggregated Data</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
          <id>5faab260-a5a4-4e0f-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <position>
            <x>1388.6008319511402</x>
            <y>-40.637315402425166</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Error Logs</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
          <id>a7dad886-bbed-409e-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <position>
            <x>485.9999973709301</x>
            <y>83.08001329576271</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Routing Strategy</key>
                <value>
                  <name>Routing Strategy</name>
                </value>
              </entry>
              <entry>
                <key>WARN</key>
                <value>
                  <name>WARN</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Routing Strategy</key>
                <value>Route to Property name</value>
              </entry>
              <entry>
                <key>WARN</key>
                <value>${anyAttribute('log.level'):contains('WARN')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Filter WARN</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>WARN</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
          <id>cf75e629-99ae-4444-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <position>
            <x>496.4999973709301</x>
            <y>414.0599928489854</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Routing Strategy</key>
                <value>
                  <name>Routing Strategy</name>
                </value>
              </entry>
              <entry>
                <key>INFO</key>
                <value>
                  <name>INFO</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Routing Strategy</key>
                <value>Route to Property name</value>
              </entry>
              <entry>
                <key>INFO</key>
                <value>${anyAttribute('log.level'):contains('INFO')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Filter INFO</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>INFO</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
          <id>3b7b75ec-0409-4783-0000-000000000000</id>
          <parentGroupId>c751aa82-1598-4bd5-0000-000000000000</parentGroupId>
          <position>
            <x>491.9999973709301</x>
            <y>254.59999284898538</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Routing Strategy</key>
                <value>
                  <name>Routing Strategy</name>
                </value>
              </entry>
              <entry>
                <key>ERROR</key>
                <value>
                  <name>ERROR</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Routing Strategy</key>
                <value>Route to Property name</value>
              </entry>
              <entry>
                <key>ERROR</key>
                <value>${anyAttribute('log.level'):contains('ERROR')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Filter ERROR</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>ERROR</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
      </contents>
      <name>Data Enrichment</name>
    </processGroups>
    <processGroups>
      <id>0aa6750a-ce3b-44d3-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>940be436-a22f-4677-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <bends>
            <x>743.3970336914062</x>
            <y>1022.3926013183594</y>
          </bends>
          <destination>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>f6daa8c9-b1eb-4a48-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>3d057292-c245-4004-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>96d98f18-76ad-4071-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <bends>
            <x>1784.8602905273438</x>
            <y>580.1946051025391</y>
          </bends>
          <destination>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>3d057292-c245-4004-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>6d027b7d-2d65-48ec-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>9daa0fb1-d9d4-4ded-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <bends>
            <x>1830.9087524414062</x>
            <y>782.1381420898438</y>
          </bends>
          <destination>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>3d057292-c245-4004-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>4239aaf3-5261-4d0e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a1697c0e-1f7d-4c16-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>4239aaf3-5261-4d0e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>dbaa407a-81e7-454a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>b2dfebec-2b26-4226-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>fa62e187-aaef-4f71-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>0c470b63-a26d-40e0-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0232e0d6-0eb7-4428-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <bends>
            <x>750.4331817626953</x>
            <y>576.3556817626953</y>
          </bends>
          <destination>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>3d057292-c245-4004-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>c3dd4f1e-147b-443f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>04b4508c-8cd4-48a7-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>c3dd4f1e-147b-443f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>ccf83dc7-3a16-486c-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0e3a6525-daaf-49bb-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <bends>
            <x>1293.7490844726562</x>
            <y>570.6230596923829</y>
          </bends>
          <destination>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>3d057292-c245-4004-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>2585691e-bdd2-44da-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>22297a03-02e3-4ee1-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <bends>
            <x>1287.4105224609375</x>
            <y>1018.7247766113281</y>
          </bends>
          <destination>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>952c0f39-f3f6-4eac-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>3d057292-c245-4004-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>32bbff2b-1998-43cf-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>2585691e-bdd2-44da-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>9802ebe5-2b5f-4776-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>450c5056-1892-4adc-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <bends>
            <x>1788.3134765625</x>
            <y>1367.167060546875</y>
          </bends>
          <destination>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>f87d0d65-67f2-4c14-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>9c4a31b7-604e-42ac-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>5163f926-fbf1-4938-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <bends>
            <x>530.1121673583984</x>
            <y>794.1954431152344</y>
          </bends>
          <destination>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>3d057292-c245-4004-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>fa62e187-aaef-4f71-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>5ed11da2-fd2f-4c70-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>f87d0d65-67f2-4c14-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>952c0f39-f3f6-4eac-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>6365aaab-552e-4ce5-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <bends>
            <x>743.3970336914062</x>
            <y>1376.336540527344</y>
          </bends>
          <destination>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>f87d0d65-67f2-4c14-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>f6daa8c9-b1eb-4a48-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>699368d4-861c-4e5b-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>6d027b7d-2d65-48ec-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>88ff5c3c-1b48-4572-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>745cdd93-16d5-4801-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <bends>
            <x>1778.0489501953125</x>
            <y>1031.5620812988282</y>
          </bends>
          <destination>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>9c4a31b7-604e-42ac-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>0aa6750a-ce3b-44d3-0000-000000000000</groupId>
            <id>3d057292-c245-4004-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <outputPorts>
          <id>f87d0d65-67f2-4c14-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <position>
            <x>1173.4378597671703</x>
            <y>1343.5822682396106</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Send Logs</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
          <id>88ff5c3c-1b48-4572-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <position>
            <x>1599.819531672688</x>
            <y>76.16534258043069</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>File Size</key>
                <value>
                  <name>File Size</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>
                  <name>Data Format</name>
                </value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>
                  <name>Unique FlowFiles</name>
                </value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
                <value>
                  <name>generate-ff-custom-text</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>File Size</key>
                <value>5 kb</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>Binary</value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>false</value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>5 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GenerateFlowFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
          <id>952c0f39-f3f6-4eac-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <position>
            <x>1055.6990635330394</x>
            <y>1081.06143205797</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>log.level</key>
                <value>
                  <name>log.level</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>log.level</key>
                <value>ERROR</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Set ERROR</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>9802ebe5-2b5f-4776-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <position>
            <x>1061.7743656570628</x>
            <y>78.2344030967881</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>File Size</key>
                <value>
                  <name>File Size</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>
                  <name>Data Format</name>
                </value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>
                  <name>Unique FlowFiles</name>
                </value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
                <value>
                  <name>generate-ff-custom-text</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>File Size</key>
                <value>5 kb</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>Binary</value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>false</value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>5 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GenerateFlowFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
          <id>9c4a31b7-604e-42ac-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <position>
            <x>1555.155942195149</x>
            <y>1081.0975001732043</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>log.level</key>
                <value>
                  <name>log.level</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>log.level</key>
                <value>WARN</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Set WARN</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>c3dd4f1e-147b-443f-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <position>
            <x>521.521222346516</x>
            <y>335.40731310045027</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>(?s:^.*$)</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>${now()}|17${now():toNumber():mod(9):toString()}.1.${now():toNumber():mod(25):toString()}.${now():toNumber():mod(255):toString()}|ITA|${nextInt():mod(2):toString()}</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Regex Replace</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReplaceText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
          <id>ccf83dc7-3a16-486c-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <position>
            <x>521.8331425125316</x>
            <y>78.60967302476662</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>File Size</key>
                <value>
                  <name>File Size</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>
                  <name>Data Format</name>
                </value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>
                  <name>Unique FlowFiles</name>
                </value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
                <value>
                  <name>generate-ff-custom-text</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>File Size</key>
                <value>5 kb</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>Binary</value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>false</value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>5 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GenerateFlowFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
          <id>dbaa407a-81e7-454a-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <position>
            <x>2099.897412532063</x>
            <y>72.26840150987404</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>File Size</key>
                <value>
                  <name>File Size</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>
                  <name>Data Format</name>
                </value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>
                  <name>Unique FlowFiles</name>
                </value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
                <value>
                  <name>generate-ff-custom-text</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>File Size</key>
                <value>5 kb</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>Binary</value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>false</value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>5 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GenerateFlowFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
          <id>f6daa8c9-b1eb-4a48-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <position>
            <x>512.4006473953441</x>
            <y>1081.105515309923</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>log.level</key>
                <value>
                  <name>log.level</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>log.level</key>
                <value>INFO</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Set INFO</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>fa62e187-aaef-4f71-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <position>
            <x>-20.31610370328866</x>
            <y>334.0888640037706</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>(?s:^.*$)</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>${now()}|17${now():toNumber():mod(9):toString()}.1.${now():toNumber():mod(25):toString()}.${now():toNumber():mod(255):toString()}|DE|${nextInt():mod(2):toString()}</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Regex Replace</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReplaceText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
          <id>0c470b63-a26d-40e0-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <position>
            <x>-20.004114872722212</x>
            <y>77.29119325792092</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>File Size</key>
                <value>
                  <name>File Size</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>
                  <name>Data Format</name>
                </value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>
                  <name>Unique FlowFiles</name>
                </value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
                <value>
                  <name>generate-ff-custom-text</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>File Size</key>
                <value>5 kb</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>Binary</value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>false</value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>5 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GenerateFlowFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
          <id>2585691e-bdd2-44da-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <position>
            <x>1059.566617243977</x>
            <y>335.0320329490831</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>(?s:^.*$)</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>${now()}|17${now():toNumber():mod(9):toString()}.1.${now():toNumber():mod(25):toString()}.${now():toNumber():mod(255):toString()}|USA|${nextInt():mod(2):toString()}</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Regex Replace</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReplaceText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
          <id>3d057292-c245-4004-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <position>
            <x>1056.5257980003275</x>
            <y>722.8705213509571</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Number of Copies</key>
                <value>
                  <name>Number of Copies</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Number of Copies</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Aggregate Data</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.DuplicateFlowFile</type>
        </processors>
        <processors>
          <id>4239aaf3-5261-4d0e-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <position>
            <x>2091.0162022049144</x>
            <y>332.6297001854112</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>(?s:^.*$)</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>${now()}|17${now():toNumber():mod(9):toString()}.1.${now():toNumber():mod(25):toString()}.${now():toNumber():mod(255):toString()}|FR|${nextInt():mod(2):toString()}</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Regex Replace</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReplaceText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
          <id>6d027b7d-2d65-48ec-0000-000000000000</id>
          <parentGroupId>0aa6750a-ce3b-44d3-0000-000000000000</parentGroupId>
          <position>
            <x>1601.4038975174146</x>
            <y>334.6567936912706</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>(?s:^.*$)</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>${now()}|17${now():toNumber():mod(9):toString()}.1.${now():toNumber():mod(25):toString()}.${now():toNumber():mod(255):toString()}|IND|${nextInt():mod(2):toString()}</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Regex Replace</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReplaceText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
      </contents>
      <name>Log Generator</name>
    </processGroups>
    <processors>
      <id>c49860c3-7309-410f-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>1333.5330761633372</x>
        <y>18.0353817593126</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
            <value>
              <name>Additional Classpath Resources</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/hadoop/2.6.0.3-8/0/core-site.xml, /etc/hadoop/2.6.0.3-8/0/hdfs-site.xml</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>/tmp/server-logs</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
    <processors>
      <id>f799e00f-6cc2-4cb5-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>573.4801025390625</x>
        <y>724.3000170898438</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
            <value>
              <name>Additional Classpath Resources</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/hadoop/2.6.0.3-8/0/core-site.xml, /etc/hadoop/2.6.0.3-8/0/hdfs-site.xml</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>/tmp/server-logs/warn</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
    <processors>
      <id>fc7da0e1-a3bc-4c55-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>1338.4801025390625</x>
        <y>722.9600170898439</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
            <value>
              <name>Additional Classpath Resources</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/hadoop/2.6.0.3-8/0/core-site.xml, /etc/hadoop/2.6.0.3-8/0/hdfs-site.xml</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>/tmp/server-logs/info</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
    <processors>
      <id>7853122b-105e-47d8-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>577.5582226477122</x>
        <y>10.1294052731065</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
            <value>
              <name>Additional Classpath Resources</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/hadoop/2.6.0.3-8/0/core-site.xml, /etc/hadoop/2.6.0.3-8/0/hdfs-site.xml</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>/tmp/server-logs/errors</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
  </snippet>
  <timestamp>04/25/2017 02:50:09 UTC</timestamp>
</template>