tutorials/hdf/Intro-NiFi-Kafka-Storm/assets/reporting.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>a2c65068-015a-1000-b2fc-142b4ab33268</groupId>
  <name>reporting</name>
  <snippet>
    <connections>
      <id>841d7774-fccb-3e58-0000-000000000000</id>
      <parentGroupId>36bbf3a7-d78c-316d-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>36bbf3a7-d78c-316d-0000-000000000000</groupId>
        <id>775283bd-a547-31ae-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>36bbf3a7-d78c-316d-0000-000000000000</groupId>
        <id>a72f5c2e-8b12-378d-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a4f9ee57-8138-353a-0000-000000000000</id>
      <parentGroupId>36bbf3a7-d78c-316d-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>36bbf3a7-d78c-316d-0000-000000000000</groupId>
        <id>a72f5c2e-8b12-378d-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>36bbf3a7-d78c-316d-0000-000000000000</groupId>
        <id>2f9e6476-a605-37e8-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>d25aee1a-bfa4-306b-0000-000000000000</id>
      <parentGroupId>36bbf3a7-d78c-316d-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1085.17529296875</x>
        <y>260.4433155815217</y>
      </bends>
      <destination>
        <groupId>36bbf3a7-d78c-316d-0000-000000000000</groupId>
        <id>0596e752-17b7-38be-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>36bbf3a7-d78c-316d-0000-000000000000</groupId>
        <id>cc9c3725-5bca-3a42-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>e616d834-df1e-371d-0000-000000000000</id>
      <parentGroupId>36bbf3a7-d78c-316d-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>36bbf3a7-d78c-316d-0000-000000000000</groupId>
        <id>db0b828a-62c5-3d34-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>36bbf3a7-d78c-316d-0000-000000000000</groupId>
        <id>0596e752-17b7-38be-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>f63fbae3-6612-38f1-0000-000000000000</id>
      <parentGroupId>36bbf3a7-d78c-316d-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1203.17529296875</x>
        <y>561.4433155815217</y>
      </bends>
      <bends>
        <x>460.17535400390625</x>
        <y>560.4433155815217</y>
      </bends>
      <destination>
        <groupId>36bbf3a7-d78c-316d-0000-000000000000</groupId>
        <id>775283bd-a547-31ae-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>36bbf3a7-d78c-316d-0000-000000000000</groupId>
        <id>cc9c3725-5bca-3a42-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>55c0418a-fd10-3c40-0000-000000000000</id>
      <parentGroupId>36bbf3a7-d78c-316d-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>36bbf3a7-d78c-316d-0000-000000000000</groupId>
        <id>775283bd-a547-31ae-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>36bbf3a7-d78c-316d-0000-000000000000</groupId>
        <id>db0b828a-62c5-3d34-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>55e66fd3-9ae8-33ae-0000-000000000000</id>
      <parentGroupId>36bbf3a7-d78c-316d-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1081.17529296875</x>
        <y>64.44333084031072</y>
      </bends>
      <destination>
        <groupId>36bbf3a7-d78c-316d-0000-000000000000</groupId>
        <id>cc9c3725-5bca-3a42-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>36bbf3a7-d78c-316d-0000-000000000000</groupId>
        <id>a995a76f-0cd4-3564-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <inputPorts>
      <id>2f9e6476-a605-37e8-0000-000000000000</id>
      <parentGroupId>36bbf3a7-d78c-316d-0000-000000000000</parentGroupId>
      <position>
        <x>60.0</x>
        <y>56.92508132859197</y>
      </position>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>ingest</name>
      <state>RUNNING</state>
      <type>INPUT_PORT</type>
    </inputPorts>
    <processors>
      <id>a72f5c2e-8b12-378d-0000-000000000000</id>
      <parentGroupId>36bbf3a7-d78c-316d-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>167.92507369919744</y>
      </position>
      <bundle>
        <artifact>nifi-kafka-0-10-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.0-43</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>bootstrap.servers</key>
            <value>
              <name>bootstrap.servers</name>
            </value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>
              <name>security.protocol</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
            <value>
              <name>sasl.kerberos.service.name</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.principal</key>
            <value>
              <name>sasl.kerberos.principal</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.keytab</key>
            <value>
              <name>sasl.kerberos.keytab</name>
            </value>
          </entry>
          <entry>
            <key>ssl.context.service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>ssl.context.service</name>
            </value>
          </entry>
          <entry>
            <key>topic</key>
            <value>
              <name>topic</name>
            </value>
          </entry>
          <entry>
            <key>acks</key>
            <value>
              <name>acks</name>
            </value>
          </entry>
          <entry>
            <key>kafka-key</key>
            <value>
              <name>kafka-key</name>
            </value>
          </entry>
          <entry>
            <key>key-attribute-encoding</key>
            <value>
              <name>key-attribute-encoding</name>
            </value>
          </entry>
          <entry>
            <key>message-demarcator</key>
            <value>
              <name>message-demarcator</name>
            </value>
          </entry>
          <entry>
            <key>max.request.size</key>
            <value>
              <name>max.request.size</name>
            </value>
          </entry>
          <entry>
            <key>ack.wait.time</key>
            <value>
              <name>ack.wait.time</name>
            </value>
          </entry>
          <entry>
            <key>max.block.ms</key>
            <value>
              <name>max.block.ms</name>
            </value>
          </entry>
          <entry>
            <key>partitioner.class</key>
            <value>
              <name>partitioner.class</name>
            </value>
          </entry>
          <entry>
            <key>compression.type</key>
            <value>
              <name>compression.type</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>bootstrap.servers</key>
            <value>hdp3.handson.jp:6667</value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>PLAINTEXT</value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
          </entry>
          <entry>
            <key>sasl.kerberos.principal</key>
          </entry>
          <entry>
            <key>sasl.kerberos.keytab</key>
          </entry>
          <entry>
            <key>ssl.context.service</key>
          </entry>
          <entry>
            <key>topic</key>
            <value>input</value>
          </entry>
          <entry>
            <key>acks</key>
            <value>0</value>
          </entry>
          <entry>
            <key>kafka-key</key>
            <value>${message.key}</value>
          </entry>
          <entry>
            <key>key-attribute-encoding</key>
            <value>utf-8</value>
          </entry>
          <entry>
            <key>message-demarcator</key>
          </entry>
          <entry>
            <key>max.request.size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>ack.wait.time</key>
            <value>5 secs</value>
          </entry>
          <entry>
            <key>max.block.ms</key>
            <value>5 sec</value>
          </entry>
          <entry>
            <key>partitioner.class</key>
            <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
          </entry>
          <entry>
            <key>compression.type</key>
            <value>none</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PublishKafka_0_10</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_0_10</type>
    </processors>
    <processors>
      <id>a995a76f-0cd4-3564-0000-000000000000</id>
      <parentGroupId>36bbf3a7-d78c-316d-0000-000000000000</parentGroupId>
      <position>
        <x>576.2267706968695</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-kafka-0-10-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.0-43</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>bootstrap.servers</key>
            <value>
              <name>bootstrap.servers</name>
            </value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>
              <name>security.protocol</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
            <value>
              <name>sasl.kerberos.service.name</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.principal</key>
            <value>
              <name>sasl.kerberos.principal</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.keytab</key>
            <value>
              <name>sasl.kerberos.keytab</name>
            </value>
          </entry>
          <entry>
            <key>ssl.context.service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>ssl.context.service</name>
            </value>
          </entry>
          <entry>
            <key>topic</key>
            <value>
              <name>topic</name>
            </value>
          </entry>
          <entry>
            <key>topic_type</key>
            <value>
              <name>topic_type</name>
            </value>
          </entry>
          <entry>
            <key>group.id</key>
            <value>
              <name>group.id</name>
            </value>
          </entry>
          <entry>
            <key>auto.offset.reset</key>
            <value>
              <name>auto.offset.reset</name>
            </value>
          </entry>
          <entry>
            <key>key-attribute-encoding</key>
            <value>
              <name>key-attribute-encoding</name>
            </value>
          </entry>
          <entry>
            <key>message-demarcator</key>
            <value>
              <name>message-demarcator</name>
            </value>
          </entry>
          <entry>
            <key>max.poll.records</key>
            <value>
              <name>max.poll.records</name>
            </value>
          </entry>
          <entry>
            <key>max-uncommit-offset-wait</key>
            <value>
              <name>max-uncommit-offset-wait</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>bootstrap.servers</key>
            <value>hdp3.handson.jp:6667</value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>PLAINTEXT</value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
          </entry>
          <entry>
            <key>sasl.kerberos.principal</key>
          </entry>
          <entry>
            <key>sasl.kerberos.keytab</key>
          </entry>
          <entry>
            <key>ssl.context.service</key>
          </entry>
          <entry>
            <key>topic</key>
            <value>report</value>
          </entry>
          <entry>
            <key>topic_type</key>
            <value>names</value>
          </entry>
          <entry>
            <key>group.id</key>
            <value>nifi</value>
          </entry>
          <entry>
            <key>auto.offset.reset</key>
            <value>latest</value>
          </entry>
          <entry>
            <key>key-attribute-encoding</key>
            <value>utf-8</value>
          </entry>
          <entry>
            <key>message-demarcator</key>
          </entry>
          <entry>
            <key>max.poll.records</key>
            <value>10000</value>
          </entry>
          <entry>
            <key>max-uncommit-offset-wait</key>
            <value>1 secs</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConsumeKafka_0_10</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_0_10</type>
    </processors>
    <processors>
      <id>cc9c3725-5bca-3a42-0000-000000000000</id>
      <parentGroupId>36bbf3a7-d78c-316d-0000-000000000000</parentGroupId>
      <position>
        <x>1028.1753605409833</x>
        <y>101.44332734160193</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.0-43</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>jolt-transform</key>
            <value>
              <name>jolt-transform</name>
            </value>
          </entry>
          <entry>
            <key>jolt-custom-class</key>
            <value>
              <name>jolt-custom-class</name>
            </value>
          </entry>
          <entry>
            <key>jolt-custom-modules</key>
            <value>
              <name>jolt-custom-modules</name>
            </value>
          </entry>
          <entry>
            <key>jolt-spec</key>
            <value>
              <name>jolt-spec</name>
            </value>
          </entry>
          <entry>
            <key>Transform Cache Size</key>
            <value>
              <name>Transform Cache Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>jolt-transform</key>
            <value>jolt-transform-shift</value>
          </entry>
          <entry>
            <key>jolt-custom-class</key>
          </entry>
          <entry>
            <key>jolt-custom-modules</key>
          </entry>
          <entry>
            <key>jolt-spec</key>
            <value>{
	"*": {
		"$": "[#2].k",
		"@": "[#2].v"
	}

}</value>
          </entry>
          <entry>
            <key>Transform Cache Size</key>
            <value>1</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>JoltTransformJSON</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
    </processors>
    <processors>
      <id>db0b828a-62c5-3d34-0000-000000000000</id>
      <parentGroupId>36bbf3a7-d78c-316d-0000-000000000000</parentGroupId>
      <position>
        <x>577.5390757909738</x>
        <y>383.16568854304535</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.0-43</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>/opt/hdf-handson/report</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>0596e752-17b7-38be-0000-000000000000</id>
      <parentGroupId>36bbf3a7-d78c-316d-0000-000000000000</parentGroupId>
      <position>
        <x>577.5388738273782</x>
        <y>196.78057476018725</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.0-43</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
          <entry>
            <key>filename</key>
            <value>
              <name>filename</name>
            </value>
          </entry>
          <entry>
            <key>mime.type</key>
            <value>
              <name>mime.type</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Do not store state</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
          </entry>
          <entry>
            <key>filename</key>
            <value>latest.json</value>
          </entry>
          <entry>
            <key>mime.type</key>
            <value>application/json</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>775283bd-a547-31ae-0000-000000000000</id>
      <parentGroupId>36bbf3a7-d78c-316d-0000-000000000000</parentGroupId>
      <position>
        <x>4.0</x>
        <y>369.92507369919747</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.1.0-43</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Log Level</key>
            <value>
              <name>Log Level</name>
            </value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>
              <name>Log Payload</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
            <value>
              <name>Attributes to Log</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
            <value>
              <name>Attributes to Ignore</name>
            </value>
          </entry>
          <entry>
            <key>Log prefix</key>
            <value>
              <name>Log prefix</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Log Level</key>
            <value>info</value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
          </entry>
          <entry>
            <key>Log prefix</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>LogAttribute</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.LogAttribute</type>
    </processors>
  </snippet>
  <timestamp>09/19/2017 10:52:49 CDT</timestamp>
</template>